@model IEnumerable<UserInterface.Models.SongViewModel>

@{
    ViewData["Title"] = "SongIndex";
}
<body>
    <div class="container col-9">
        <br />
        @foreach (var item in Model)
        {
            <div class="card card-click m-2 shadow-sm" data-youtubeid="@item.Link">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1 mt-4">
                            <i id="main-card-button" class="main-card-button d-flex justify-content-end font-weight-bold text-black-50 far fa-play-circle fa-s play-button"
                               data-youtubeid="@item.Link"></i>
                        </div>
                        <div class="h5 col-7 d-flex justify-content-start mt-2 text-black-50 font-weight-bold">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div class="col-4 favorite-card-button">
                            @if (UserViewModel.CurrentUser != null)
                            {
                                if (UserViewModel.CurrentUser.FavoriteSongs.Contains(item.Name))
                                {
                                    <i class="favorite-card-button d-flex justify-content-end text-black-50 fas fa-star"></i>
                                    <a id="favorite-card-action" class="favorite-card-action d-flex justify-content-end text-black-50" asp-controller="User" asp-action="AddFavorite" asp-route-id="@item.Id">fav</a>

                                }
                                else
                                {
                                    <i class="favorite-card-button d-flex justify-content-end text-black-50 far fa-star"></i>
                                    <a id="favorite-card-action" class="favorite-card-action d-flex justify-content-end text-black-50" asp-controller="User" asp-action="AddFavorite" asp-route-id="@item.Id">fav</a>

                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 d-flex justify-content-center">
                            @if (item.ArtistModel != null)
                            {
                                <a class="text-black-50" asp-controller="Artist" asp-action="ArtistView" asp-route-id="@item.ArtistModel.Id">
                                    @Html.DisplayFor(modelItem => item.Artist)
                                </a>
                            }
                            else
                            {
                                <a class="text-black-50" asp-controller="Song" asp-action="SongIndex">
                                    @Html.DisplayFor(modelItem => item.Artist)
                                </a>
                            }

                            <i class="text-black-50 fas fa-bolt fa-xs p-2"></i>

                            @if (item.AlbumModel != null)
                            {
                                <a class="text-black-50" asp-controller="Album" asp-action="AlbumView" asp-route-id="@item.AlbumModel.Id">
                                    @Html.DisplayFor(modelItem => item.Album)
                                </a>
                            }
                            else
                            {
                                <a class="text-black-50" asp-controller="Song" asp-action="SongIndex">
                                    @Html.DisplayFor(modelItem => item.Album)
                                </a>

                            }
                        </div>
                        <div class="col-6 pr-4">
                            <a class="video-length text-black-50 d-flex justify-content-end">

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <script src="~/js/AlbumCards.js"></script>
</body>
